<mat-toolbar color="primary">
  <button mat-button routerLink="/auth/login" *ngIf="!isLoggedIn">Login</button>
  <button mat-button routerLink="/auth/register" *ngIf="!isLoggedIn">
    Register
  </button>
  <button mat-button routerLink="/movies" *ngIf="isLoggedIn">Movies</button>
  <button mat-button routerLink="/profile" *ngIf="isLoggedIn">Profile</button>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn">Logout</button>
  <button mat-button routerLink="/users" *ngIf="isLoggedIn">
    Utenti Registrati
  </button>
</mat-toolbar>
